---
layout: layouts/home.njk
---

            <!-- start content -->
            <div class="foholic_content">
    		{% include "components/mobilemenu.njk" %}                
    		{% include "components/slider.njk" %} 
    		{% include "components/about.njk" %} 
    		{% include "components/team.njk" %}                
    		{% include "components/video.njk" %}                 
    		{% include "components/menu.njk" %} 
    		{% include "components/reservation.njk" %} 
    		{% include "components/gallery.njk" %} 
    		{% include "components/blog.njk" %}  
    		{% include "components/newsletter.njk" %}  
    		{% include "components/location.njk" %}  
    		{% include "components/footer.njk" %}                  
            </div>
            <!-- end content -->
