---
layout: layouts/home.njk
title: "Our Staff"
---
    <!-- start content -->
    <div class="foholic_content">
	{% include "components/mobilemenu.njk" %}                
	{% include "components/subheader.njk" %} 
	{% include "components/teamsection.njk" %}  
	{% include "components/footer.njk" %}                  
    </div>
    <!-- end content -->
