                <!-- start about section -->
                <section class="foholic-history" id="about">
                    <div class="container">
                        <div class="restro-history">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="our_history wow fadeIn" data-wow-duration="3s" data-wow-delay=".3s">
                                        <span class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".3s">Brief Background</span>
                                        <h2 class="foholic_title wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                                        Spanton Ventures Propriety Limited
                                        </h2>
                                        <p class="foholic_subcontent">
                                        was formed in 2013, as a holding company and later established a subsidiary company 
                                        GABORONE CANCER CENTRE, which provides specialized Oncology and chemotherapy health care. 
                                        <br>
                                        The facility is strategically located at Partial Mall along Julias Nyerere road which has good public transport access.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="resto-img text-end">
                                        <div class="theme-btn">
                                            <div class="round-text">
                                                <img src="/images/about/restaurant-text.png" class="img-fluid restaurant-text-img" alt="restaurant-text">
                                                <div class="foholic_letter">G</div>
                                            </div>
                                        </div>
                                        <img src="/images/about/about-img1.png" alt="history img-1" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="food_tasting">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-5">
                                    <div class="season_tast wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                        <img src="/images/about/about-img2.png" alt="history img-2" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-lg-7">
                                    <div class="tasting_content  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.8s">
                                        <h3 class="foholic_title">
                                        Our biggest asset is our highly caring skilled personnel which can compete with today's rapid changing medical environment.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="resto_foods">
                            <h3 class="foholic_title text-center col-lg-8 m-auto wow fadeIn" data-wow-duration="3s" data-wow-delay=".4s">
                            We offer full spectrum specialised Oncology services and other services.
                            </h3>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="fo-abo-last wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <p class="foholic_subcontent">
                                        - Oncology Treatments <br><br>
                                        - Other Medical Treatments <br><br>
                                        - Wellness and Prevention Service<br><br>
                                        - Medical Exams<br><br>
                                        - General Practice<br><br>
                                        </p>
                                        <div class="foholic_button">
                                            <a href="#menu" class="button-light">View Our Services</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-8">
                                    <div class="food-differs">
                                        <img src="/images/about/about-img3.png" alt="history img-3" class="img-fluid float-end">
                                        <img src="/images/about/about-img4.png" alt="history img-4" class="img-fluid top-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end about section -->
