                <!-- start blog section -->
                <section class="blog_section" id="blog">
                    <div class="our_blog">
                        <div class="container">
                            <div class="text-center blog_detail">
                                <span class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".3s">Stay up to date</span>
                                <h2 class="dark_head wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">Our Blog</h2>
                                <p class="col-12 col-lg-8 col-md-10 m-auto">Occasionally we post articles on the latest trends and medical treatment advances worldwide and that we have adopted to give you the best possible services.</p>
                            </div>
                        </div>
                    </div>

                    <div class="blog_boxes">
                        <div class="container">
                            <div class="row wow fadeIn" data-wow-duration="3s" data-wow-delay=".4s">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="blog-item">
                                        <div class="blog-content text-center">
                                            <div class="blog-wrapper">
                                                <div class="date_pick">JUNE 02, 2022</div>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <div class="Blog_sub_name">Simplicity is complex</div>
                                                </a>
                                                <p class="blogs-block">Nunc vehicula massa vitae felis suscipit, et semper ligula eleifend. Cras neque justo, congue eget congue sit amet, sodales...</p>
                                                <a href="javascript:void(0);" class="reade_more_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Read More</a>
                                            </div>
                                        </div>
                                        <img src="assets/images/blog/blog-img1.png" alt="Blog_img1" class="img-cover img-fluid">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="blog-item">
                                        <div class="blog-content text-center">
                                            <div class="blog-wrapper">
                                                <div class="date_pick">JUNE 01, 2022</div>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <div class="Blog_sub_name">Design is Process</div>
                                                </a>
                                                <p class="blogs-block">Nunc vehicula massa vitae felis suscipit, et semper ligula eleifend. Cras neque justo, congue eget congue sit amet, sodales...</p>
                                                <a href="javascript:void(0);" class="reade_more_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Read More</a>
                                            </div>
                                        </div>
                                        <img src="assets/images/blog/blog-img2.png" alt="Blog_img2" class="img-cover img-fluid">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="blog-item">
                                        <div class="blog-content text-center">
                                            <div class="blog-wrapper">
                                                <div class="date_pick">JUNE 01, 2022</div>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <div class="Blog_sub_name">Aesthetic is a decision</div>
                                                </a>
                                                <p class="blogs-block">Nunc vehicula massa vitae felis suscipit, et semper ligula eleifend. Cras neque justo, congue eget congue sit amet, sodales...</p>
                                                <a href="javascript:void(0);" class="reade_more_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Read More</a>
                                            </div>
                                        </div>
                                        <img src="assets/images/blog/blog-img3.png" alt="Blog_img3" class="img-cover img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="foholic_button text-center">
                                <a href="/blog" class="button-light">View More</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end blog section -->
