                <!-- start Features section -->
                <section class="foholic_features" id="features">
                    <div class="container">
                        <div class="feature_lite text-center wow fadeIn" data-wow-duration="3s" data-wow-delay=".3s">
                            <span class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".3s">Features</span>
                            <h2 class="dark_head wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">Why people choose us?</h2>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="dish-ic-box text-center">
                                    <img src="assets/images/svg/food.svg" alt="food-img" class="img-fluid">
                                    <h3 class="m-0">Menu for every taste</h3>
                                    <p class="m-0">Dolor sit amet, consectetur adipisicing elit et molestias possimus</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="dish-ic-box text-center">
                                    <img src="assets/images/svg/food-list.svg" alt="food-list-img" class="img-fluid">
                                    <h3 class="m-0">Always fresh ingredients</h3>
                                    <p class="m-0">Assumenda possimus eaque illo iste, autem. Porro eveniet autem</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="dish-ic-box text-center">
                                    <img src="assets/images/svg/chef.svg" alt="chef-img" class="img-fluid">
                                    <h3 class="m-0">Experienced chefs</h3>
                                    <h4 class="d-none">hidden</h4>
                                    <p class="m-0">Dolor sit amet, consectetur adipisicing elit et molestias possimus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end Features section -->
