                <!-- start gallery section -->
                <section class="foholic_gallery" id="gallery">
                    <h2 class="d-none">hidden</h2>
                    <div class="container">
                        <div class="divide_gallery text-center">
                            <span class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".3s">Step Inside</span>
                            <div class="foholic_title dark_head wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">Our Centre</div>
                            <p class="col-12 col-lg-8 col-md-10 m-auto">
                            Our Medical staffs have extensive experience in Oncology and Chemotherapy, and we are aware of the need of clients returning to normality.
                            We offer full spectrum specialised Oncology services.
                            </p>
                        </div>

                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="col-12 col-md-4 col-lg-4 swiper-slide">
                                    <div class="photo_gallery">
                                        <div class="gallery_img hover-effect-img">
                                            <div class="hover-icons">
                                                <a href="/images/gallery/gallery-img1.png" class="ic-plus"><i class="fa-solid fa-plus"></i></a>
                                            </div>
                                            <div class="inside-img swipe_gallery_img">
                                                <img src="/images/gallery/gallery-img1.png" alt="gallery-img-1" class="img-fluid">
                                            </div>
                                            <div class="hover-effect the-team"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 swiper-slide">
                                    <div class="photo_gallery">
                                        <div class="gallery_img hover-effect-img">
                                            <div class="hover-icons">
                                                <a href="/images/gallery/gallery-img2.png" class="ic-plus"><i class="fa-solid fa-plus"></i></a>
                                            </div>
                                            <div class="inside-img swipe_gallery_img">
                                                <img src="/images/gallery/gallery-img2.png" alt="gallery-img-2" class="img-fluid">
                                            </div>
                                            <div class="hover-effect the-team"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 swiper-slide">
                                    <div class="photo_gallery">
                                        <div class="gallery_img hover-effect-img">
                                            <div class="hover-icons">
                                                <a href="/images/gallery/gallery-img3.png" class="ic-plus"><i class="fa-solid fa-plus"></i></a>
                                            </div>
                                            <div class="inside-img swipe_gallery_img">
                                                <img src="/images/gallery/gallery-img3.png" alt="gallery-img-3" class="img-fluid">
                                            </div>
                                            <div class="hover-effect the-team"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 swiper-slide">
                                    <div class="photo_gallery">
                                        <div class="gallery_img hover-effect-img">
                                            <div class="hover-icons">
                                                <a href="/images/gallery/gallery-img4.png" class="ic-plus"><i class="fa-solid fa-plus"></i></a>
                                            </div>
                                            <div class="inside-img swipe_gallery_img">
                                                <img src="/images/gallery/gallery-img4.png" alt="gallery-img-4" class="img-fluid">
                                            </div>
                                            <div class="hover-effect the-team"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 swiper-slide">
                                    <div class="photo_gallery">
                                        <div class="gallery_img hover-effect-img">
                                            <div class="hover-icons">
                                                <a href="/images/gallery/gallery-img5.png" class="ic-plus"><i class="fa-solid fa-plus"></i></a>
                                            </div>
                                            <div class="inside-img swipe_gallery_img">
                                                <img src="/images/gallery/gallery-img5.png" alt="gallery-img-5" class="img-fluid">
                                            </div>
                                            <div class="hover-effect the-team"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 swiper-slide">
                                    <div class="photo_gallery">
                                        <div class="gallery_img hover-effect-img">
                                            <div class="hover-icons">
                                                <a href="/images/gallery/gallery-img6.png" class="ic-plus"><i class="fa-solid fa-plus"></i></a>
                                            </div>
                                            <div class="inside-img swipe_gallery_img">
                                                <img src="/images/gallery/gallery-img6.png" alt="gallery-img-6" class="img-fluid">
                                            </div>
                                            <div class="hover-effect the-team"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                        </div>
                    </div>
                </section>
                <!-- end gallery section -->
