                <!-- start menu section -->
                <section class="foholic_menu" id="menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6">
                                <div class="table_menu wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                    <span>Our Services</span>
                                    <h6 class="dark_head">How we serve you.</h6>
                                    <p>We have various medical services that we offer to suits all your diverse needs.</p>
                                    <img src="/images/menu/menu-post1.png" alt="menu-post1" class="img-fluid">
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-6 wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                                <nav class="menu_nav">
                                    <div class="food_menu_item nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="navs-tabs active" 
                                        id="nav-starter-tab" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#nav-starters" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="nav-starters" 
                                        aria-selected="true">Oncology</button>
                                        <button class="navs-tabs" 
                                        id="nav-chinese-tab" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#nav-chinese" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="nav-chinese" 
                                        aria-selected="false">Treatments</button>
                                        <button class="navs-tabs" 
                                        id="nav-pizza-tab" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#nav-pizza" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="nav-pizza" 
                                        aria-selected="false">Wellness</button>
                                        <button class="navs-tabs" 
                                        id="nav-dessert-tab" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#nav-dessert" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="nav-dessert" 
                                        aria-selected="false">Exams</button>
                                        <button class="navs-tabs" 
                                        id="nav-drink-tab" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#nav-drink" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="nav-drink" 
                                        aria-selected="false">General</button>
                                    </div>
                                </nav>
                                <div class="menu_content tab-content" id="nav-tabContent">
                                    <div class="menu-visible tab-pane fade show active" id="nav-starters" role="tabpanel" aria-labelledby="nav-starter-tab">
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>ANNUAL CANCER SCREENING</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">We maintain your annual individual screening log.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>COOPERATE CANCER SCREENING</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">We maintain your annual corporate screening records.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>NON INFUSIONAL CHEMOTHERAPY</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">Chemotherapy that does not involve infusions.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>INFUSIONAL CHEMOTHERAPY</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">Chemotherapy implementing various infusion therapy.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>PAP SMEAR</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">General female pap smear tests to help determine outcomes early.</p>
                                        </div>
                                    </div>
                                    <div class="menu-visible tab-pane fade" id="nav-chinese" role="tabpanel" aria-labelledby="nav-chinese-tab">
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>HPV VACCINATION</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">We offer HPV vaccination services.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>PALLIATIVE AND SUPPORTIVE CARE</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">We offer palliative and support care services.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>TESTS AND SCREENING</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">TBA</span>
                                            </div>
                                            <p class="food_info">We offer testing services to screen for possible adverse outcomes.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>Garlic Lime</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$20</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                    </div>
                                    <div class="menu-visible tab-pane fade" id="nav-pizza" role="tabpanel" aria-labelledby="nav-pizza-tab">
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>MARGHERITA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$25</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>VEGETARIANA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$35</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>Garlic Lime</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$20</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                    </div>
                                    <div class="menu-visible tab-pane fade" id="nav-dessert" role="tabpanel" aria-labelledby="nav-dessert-tab">
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>MARGHERITA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$25</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>VEGETARIANA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$35</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>Garlic Lime</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$20</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                    </div>
                                    <div class="menu-visible tab-pane fade" id="nav-drink" role="tabpanel" aria-labelledby="nav-drink-tab">
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>MARGHERITA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$25</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>VEGETARIANA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$35</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>Garlic Lime</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$20</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                        <div class="menu_wrappe">
                                            <div class="dish_title d-flex">
                                                <span>CAPRICCIOSA</span>
                                                <div class="item-divider"></div>
                                                <span class="food_price">$30</span>
                                            </div>
                                            <p class="food_info">Sed luctus massa purus, sed dapibus ex condimentum sed. 
                                            Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end menu section -->
