            <!-- mobile menu -->
            <div class="mobile_header">
                <div class="inn-sub-header">
                    <div class="logo">
                        <a href="/"><img src="/images/logo/logo.png" alt="Gaberone CC Logo" class="img-fluid"></a> 
                    </div>
                    <div class="foholic-menubar">
                        <div class="menu-ic">
                            <div class="line-menu line-half first-line"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu line-half last-line"></div>
                        </div>          
                    </div>
                </div>
            </div>
