                <!-- start news-letter section -->
                <section class="newsletter-part" id="news-letter">
                    <div class="container">
                        <h3 class="d-none">hidden</h3>
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 wow fadeInLeft" data-wow-duration="1.8s" data-wow-delay=".3s">
                                <span>SUBSCRIBE TO OUR NEWSLETTER</span>
                                <div class="news_sub_detail">We will notify you when we post informative information pertaining to good health.</div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6">
                                <form class="newsletter__form wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                                    <div class="field-class">
                                        <input type="email" id="formExample" class="form-control-input" placeholder="Your Email Address">
                                    </div>

                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <label class="form-check-label">I have agree to the the terms & conditions</label>
                                    </div>

                                    <div class="foholic_button">
                                        <button class="button-light">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end news-letter section -->
