        <!-- start sidebar header -->
        <header class="foholic-fixed-sidebar sidebar-right" id="header">
            <div class="header-container">
                <div class="menu-wrap">
                    <div class="header-logo">
                        <a href="/"><img src="/images/logo/logo.png" alt="Gaborone C C Logo" class="img-fluid"></a>
                    </div>
                    <nav class="fixed-menu-wrap" id="top-nav">
                        <ul class="navbar-navs">
                            <li class="menu-list"><a class="nav-links active" href="/#home">Home</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#about">About Us</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#team">Our Team</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#menu">Services</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#reservation">Booking</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#gallery">Gallery</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#blog">Our Blog</a></li>
                            <li class="menu-list"><a class="nav-links" href="/#contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="menu-table">
                        <span class="table-detail">Book A Session</span>
                        <div class="booking-number"><a href="tel:(123)-456-7788">(123)-456-7788</a></div>
                    </div>
                    <div class="foholic-social-ic">
                        <a href="https://www.facebook.com/" class="social-ic" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://twitter.com/" class="social-ic" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" class="social-ic" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.youtube.com/" class="social-ic" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- end sidebar header -->
