            <!-- start slider section -->
            <section class="foholic_slider slider-style" id="home">
                <h1 class="d-none">Hidden</h1>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="slide-bg-image" style="background-image: url(/images/reservation/reservation_background.png);"></div>
                                <div class="parallax-overlay"></div>
                                <div class="slider_shape_img1">
                                    <img src="/images/svg/shape-img1.svg" alt="shape-img1 img">
                                </div>
                                <div class="slider_shape_img2">
                                    <img src="/images/svg/shape-img2.svg" alt="shape-img2 img">
                                </div>
                                <div class="container">
                                    <div class="slide_inn_content text-center wow fadeIn" data-wow-duration="3s" data-wow-delay=".4s">
                                        <span>Welcome to Gaberone CC</span>
                                        <div class="slide_title col-12 col-lg-10 col-md-12 m-auto">We don’t just treat we care.</div>
                                        <div class="foholic_button">
                                            <a href="#reservation" class="button-light">Book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="slide-inner ">
                                <div class="slide-bg-image"><video playsinline="" autoplay="" muted="" loop=""><source src="/video/slide_video.mp4" type="video/mp4"></video></div>
                                    <div class="parallax-overlay"></div>
                                    <div class="slider_shape_img1">
                                        <img src="/images/svg/shape-img1.svg" alt="shape-img1 img">
                                    </div>
                                    <div class="slider_shape_img2">
                                        <img src="/images/svg/shape-img2.svg" alt="shape-img2 img">
                                    </div>
                                    <div class="container">
                                        <div class="slide_inn_content text-center wow fadeIn" data-wow-duration="3s" data-wow-delay=".4s">
                                            <span>Welcome to Gaberone CC</span>
                                            <div class="slide_title col-12 col-lg-10 col-md-12 m-auto">We consider your normal healthy life a priority...</div>
                                            <div class="foholic_button">
                                                <a href="#reservation" class="button-light">Book now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="slide-bg-image" style="background-image: url(/images/reservation/reservation_background.png);"></div>
                                    <div class="parallax-overlay"></div>
                                    <div class="slider_shape_img1">
                                        <img src="/images/svg/shape-img1.svg" alt="shape-img1 img">
                                    </div>
                                    <div class="slider_shape_img2">
                                        <img src="/images/svg/shape-img2.svg" alt="shape-img2 img">
                                    </div>
                                    <div class="container">
                                        <div class="slide_inn_content text-center wow fadeIn" data-wow-duration="3s" data-wow-delay=".4s">
                                            <span>Welcome to Gaberone CC</span>
                                            <div class="slide_title col-12 col-lg-10 col-md-12 m-auto">We don’t just treat we care.</div>
                                            <div class="foholic_button">
                                                <a href="#reservation" class="button-light">Book now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="slide-bg-image"><video playsinline="" autoplay="" muted="" loop=""><source src="/video/slide_video.mp4" type="video/mp4"></video></div>
                                    <div class="parallax-overlay"></div>
                                    <div class="slider_shape_img1">
                                        <img src="/images/svg/shape-img1.svg" alt="shape-img1 img">
                                    </div>
                                    <div class="slider_shape_img2">
                                        <img src="/images/svg/shape-img2.svg" alt="shape-img2 img">
                                    </div>
                                    <div class="container">
                                        <div class="slide_inn_content text-center wow fadeIn" data-wow-duration="3s" data-wow-delay=".4s">
                                            <span>Welcome to Gaberone CC</span>
                                            <div class="slide_title col-12 col-lg-10 col-md-12 m-auto">We consider your normal healthy life a priority...</div>
                                            <div class="foholic_button">
                                                <a href="#reservation" class="button-light">Book now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <!-- end slider section -->
