                <!-- start video section -->
                <section class="food_video" id="video">
                    <div class="parallax-overlay"></div>
                    <div class="container text-center">
                        <h5 class="video_title wow fadeInDown" data-wow-duration="2s" data-wow-delay=".3s">
                        Our treatment are state of the art and internationally recognized for the most effective and comfortable recovery and prolonged life.
                        </h5>
                        <div class="parallax-content">
                            <!-- button start -->
                            <div class="more-wraper">
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <div class="watch-button watch-button-circle"></div>
                                    <div class="watch_video_button">
                                        <span>Video</span>
                                    </div>
                                </a>
                            </div>
                            <!-- button end -->
                        </div>
                    </div>
                </section>
                <!-- end video section -->
